@{
    ViewData["Title"] = "ZolarShmot home";
}
<div class="text-center">
    <h1 class="display-4" style="font-size: 100px;">ZolarShmot</h1>
    <p style="font-size: 25px;">Шмот который нравится тебе, и покарману твоей маме</p>
</div>

<br>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/cloth.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>ZolarShmot</h5>
                <p>Кто еще кроме нас?</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Images/2736847.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Есть корманные деньги?</h5>
                <p>Теперь ты знаешь, где их лучше потратить <br> (а не донатить в бравлстарс, дурачек)</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Images/mirage.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>HA-HA-HA, YOU FULL</h5>
                <p>YOU GOT BAMBOOZLED LOOK AT YOU</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<br>

<div class="card-1 mb-3 mt-5 border-0">
    <h1 class="display-4">Что вы найдете в наших магазинах?</h1>
    <div class="col-md-8">
        <div class="card-body border-0">
            <p class="card-text txt border-0" style="font-size: 71px;">
                Одежда<br>
                Обувь<br>
                Аксессуары<br>
            </p>
        </div>
    </div>
</div>

<br> 

<div class=" text-center">
    <h1 class="display-4">Почему именно мы?</h1>
    <div>
        <div class="card-body border-0">
            <p class="card-text txt border-0" style="font-size: 20px;">
            <p style="font-size: 25px;">Высокое качество продукции!</p>
                Мы тщательно следим за производством однжды и аксессуаров. Каждая модель проходит проверки на прочность,
                удобство и качество материалов.
                Только полсе полной проверки и сертификации товар поподает в магазин!<br>
                <br> <br>
               <p style="font-size: 25px;"> Коллекции обнавляются каждый месяц!</p>
                Наши модельеры потом и кровью создают для вас новые модели одежды и аксессуаров.
                Пока Вы выбираете себе новенькую пару кроссовок, в каком-то темном подвале на окрайне города,
                какой-то паренек с отличным чувством вкуса уже выдумывает для вас что-то новое и стильное.<br>
                <br> <br>
                <p style="font-size: 25px;">Широкий размерный ряд!</p>
                Нам все равно, любите ли вы покушать или наоборот следите за каждой набранной калорией,
                в нашем магазине Вы найдете любой размер полюбившейся вам вещи.<br>
                <br> <br>
                <p style="font-size: 25px;">Приятные цены!</p>
                Мы продаем вещи по той цене, которой они соответсвуют. Никаких наценок за бренд!<br>
                <br> <br>
                <p style="font-size: 25px;">Кэшьбэк 5% с каждой 1000 рублей!</p>
                В нашем магазине вы будете получать кэшбек 5% от стоимости товара за каждую тысячу в чеке. Нам не сложно - вам приятно:)<br>
                <br> <br>
            </p>
        </div>
    </div>
</div>